@model PersonalInfo
<!-- About Section -->
<section id="about">
    <div class="container">
        <h2 class="section-title">About Me</h2>
        <div class="row align-items-center">
            <div class="col-md-4 mb-4 mb-md-0 text-center">
                <img src="~/images/1.jpg" alt="Mahmoud Almokaber"
                class="img-fluid about-img" width="300">
            </div>
            <div class="col-md-8">
                @{
                    var description = Model.Description.Split('\n');
                }
                    @foreach (var paragraph in description)
                    {
                    <p class="mb-3">  @paragraph</p>
                    }
                   
                <div class="mt-4">
                        <a asp-area="" asp-controller="ContactForm" asp-action="Index" class="btn btn-custom">Let's build something together!</a>
                </div>
            </div>
        </div>
    </div>
</section>